

/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/

@media (min-width: 1024px) and (max-width: 1600px) {
	.em-nivo-slider-wrapper:hover .nivo-directionNav a {
		left: 5px;
	}
	.em-nivo-slider-wrapper:hover .nivo-directionNav .nivo-nextNav {
		right: 5px;
	}
	.banner-content p {
		width: 64%;
	}
	.em_slider_single_img img {
		width: 431px;
	}
	.em_slider_single_img {
		right: 33%;
		top: -11%;
	}
	.top-right-menu ul.social-icons li {
		margin-left: 6px;
	}
	.top-address p a,
	.top-right-menu ul.social-icons li a,
	.top-address p span {
		font-size: 12px;
	}
}


/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/

@media (min-width: 1170px) and (max-width: 1366px) {
	.banner-content p {
		width: 70%;
	}
	.em-feature-title h2 {
		font-size: 17px;
	}
	.consultant_menu>ul>li>a {
		margin: 38px 7px 38px;
	}
	.em_creative_header::after {
		-webkit-transform: rotate(-114deg);
		    -ms-transform: rotate(-114deg);
		        transform: rotate(-114deg);
	}
	.creative_header_address {
		padding-left: 0;
	}
	.portfolio_content_inner {
		padding: 10px 92px 10px 18px;
	}
	.em_single_testimonial {
		padding: 32px 58px 0;
	}
	.em_single_testimonial::before {
		display: none;
	}
	.testimonial_list {
		padding-top: 0px;
	}
	.testimonial_list .owl-dots {
		display: none;
	}
	.testimonial_list.testimonial_list2 {
		padding-top: 21px;
		padding-bottom: 42px;
	}
	.em-slider-sub-title {
		font-size: 50px;
	}
	.pricing_title h3 {
		font-size: 18px;
	}
	.footer-middle .recent-post-text h4 a {
		font-size: 13px;
	}
	.footer-middle .recent-post-text>h4 {
		margin-top: 0;
	}
	.consultant_about {
		padding: 0 0 0 0;
	}
	.about_text p {
		margin-bottom: 0;
	}
	.em-progress {
		margin-bottom: 10px;
	}
	.em-slider-sub-em-title {
		margin-bottom: 90px;
	}
	.single_service_title h2 {
		font-size: 20px;
	}
	.single_contact_title h1 {
		font-size: 27px;
	}
	.single_contact_title h2 {
		font-size: 17px;
	}
	.feature_area {
		margin-top: 0;
	}
	.panel-heading1 a {
		font-size: 16px;
	}
	.request_form {
		padding-bottom: 60px;
	}
	.em_testi_text p {
		width: 80%;
	}
	.single_testimonial::before {
		left: 15.5%;
		bottom: 145px;
	}
	.call-do-mobile {
		font-size: 18px;
	}
	.call-do-email {
		font-size: 18px;
	}
	.em_call-to-action_title h2 {
		font-size: 28px;
	}
}


/* -------------------------------------------------
  Old Desktop :992
---------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1169px) {
	.top-right-menu ul.social-icons li {
		margin-left: 9px;
	}
	.em-slider-sub-title {
		font-size: 50px;
	}
	.em-slider-descript {
		width: 66%;
		margin-top: 11px;
		margin-bottom: 26px;
	}
	.menu-height-space {
		height: 0;
	}
	.em_creative_header::after {
		-webkit-transform: rotate(-100deg);
		    -ms-transform: rotate(-100deg);
		        transform: rotate(-100deg);
	}
	.consultant_menu > ul > li > a {
    	margin: 38px 7px 38px;
    	font-size: 12px;
    }
    .em-quearys-top.msin-menu-search .em-quearys-menu i {
    	margin-left: 0;
    }
	a.dtbtn {
		font-size: 14px;
		margin-left: 0;
		padding: 10px 20px;
	}
	.sbi_photo_wrap {
		width: 33.33%;
	}
	.pricing_title h3 {
		font-size: 18px;
	}
	.curosel-style .owl-nav div {
		left: 15px;
	}
	.curosel-style .owl-nav .owl-next {
		left: auto;
		right: 15px;
	}
	.section-title.t_center.port p {
		width: 100%;
	}
	.em-call-to_video {
		right: 5px;
	}
	.title_ptx p {
		padding-top: 10px;
	}
	.title_in_area {
		width: 100%;
	}
	.title_in_area.team p {
		width: 58%;
	}
	.title_tx h2 {
		font-size: 33px;
	}
	.title_in_area1 p {
		width: 58%;
	}
	.recent-post-text h4 a {
		font-size: 13px;
	}
	.consultant_menu ul {
		margin-right: 21px;
	}
	.em-call-video_link a {
		font-size: 26px;
	}
	.em-nivo-slider-wrapper .nivo-directionNav {
		display: none;
	}
	.section_title_lefts h1 {
		margin-bottom: 47px;
		font-size: 33px;
	}
	.consultant_about {
		padding: 0 0 0 31px;
	}
	.consultant-tab li {
		margin: 10px 12px 10px 0;
	}
	.consultant-tab li a {
		padding: 7px 15.9px 0;
	}
	.vission_content h2 {
		padding-bottom: 20px;
		margin-top: 0;
	}
	.single_vision {
		padding-left: 5px;
		padding-top: 0px;
	}
	.em_single_testimonial {
		padding: 31px 15px 0;
		margin-top: 53px;
		text-align: center;
	}
	.em_single_testimonial::before {
		left: 0;
		top: -65px;
		color: #fff;
		right: 0;
	}
	.em_test_thumb img {
		border-radius: 100%;
		float: none;
	}
	.testimonial_list .owl-dots {
		display: none;
	}
	.testimonial_area {
		padding: 86px 0 70px;
	}
	.blog-page-title a {
		font-size: 18px;
	}
	a.dtbtn {
		margin-top: 27px;
	}
	.header_style_two .consultant_menu>ul>li>a {
		margin-left: 20px;
	}
	.em_slider_inner {
		top: 58%;
	}
	.subscribe_form {
		margin-top: 0;
	}
	.hosting_feature {
		display: none;
	}
	.em_slider_single_img {
		right: 36%;
		top: -19%;
	}
	.em_slider_single_img img {
		width: 331px;
	}
	.subscribe_form_field {
		width: 98%;
	}
	.em-service-title h2 {
		font-size: 18px;
	}
	.consultant-blog-meta-left a,
	.consultant-blog-meta-right a,
	.consultant-blog-meta-left span,
	.consultant-blog-meta-right span {
		margin-right: 5px;
		font-size: 14px;
	}
	.footer-middle .recent-post-text>h4 {
		margin-top: 0;
	}
	.footer-middle .recent-post-item {
		clear: both;
		margin-bottom: 10px;
	}
	.hosting_details_area {
		padding: 180px 0 100px;
	}
	.top-address p a,
	.top-right-menu ul.social-icons li a,
	.top-address p span {
		font-size: 13px;
	}
	.feature_area {
		padding: 100px 0 70px;
	}
	.domain_price p {
		padding: 1px 4px 4px;
	}
	.consultant-tab li a {
		padding: 0 0px 0;
	}
	.consultant-tab li i {
		font-size: 27px;
		margin-right: 5px;
	}
	.consultant-tab li {
		padding: 14px 0px 14px 10px;
		margin: 5px 5px 37px 5px;
	}
	.domain_search_style2 .domain_price p {
		margin: 0px 0 18px;
	}
	.domain_search_style2 #domain_select {
		width: 15%;
	}
	.single_choose_us_content h2 {
		font-size: 18px;
	}
	.em-progress {
		margin-bottom: 10px;
	}
	.event_page_title {
		padding-top: 0px;
	}
	.single_feature_area {
		margin-top: -80px;
	}
	.event_details span.cdowns {
		width: 119px;
	}
	.em-slider-sub-em-title {
		padding-bottom: 225px;
	}
	.single_service_title h2 {
		font-size: 20px;
	}
	.feature_area {
		margin-top: 0;
	}
	.panel-heading1 a {
		font-size: 16px;
	}
	.request_form {
		padding-bottom: 60px;
	}
	.request_form_title h1 {
		font-size: 25px;
	}
	.single_testimonial::before {
		left: 15.5%;
		bottom: 145px;
	}
	.em_testi_text p {
		width: 80%;
	}
	.call-do-mobile {
		font-size: 18px;
	}
	.call-do-email {
		font-size: 18px;
	}
	.em_call-to-action_title h2 {
		font-size: 25px;
	}
	.call-do-action-signature {
		padding: 25px 0 0;
	}
}


/* -------------------------------------------------
  Tablet Screen : 768
---------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
	.em-slider-sub-title {
		font-size: 35px;
		margin-bottom: 0;
	}
	.em-slider-descript {
		/* display: none; */
		width: 60%;
		font-size: 16px;
		margin-bottom: 0;
	}
	.em-button-button-area a {
		margin-top: 30px;
	}
	.section_title_lefts h1::before {
		bottom: -18px;
	}
	.footer-middle .recent-post-text>h4 {
		margin-top: 0;
	}
	.footer-top-inner p {
		width: 78%;
	}
	.banner-content p {
		width: 74%;
	}
	.domain_search_style2 #domain_select {
		width: 18%;
	}
	.domain_search_style2 {
		bottom: 10%;
	}
	.hosting_details_area {
		padding: 82px 0 100px;
	}
	.hosting_slide_img {
		left: 39%;
	}
	.hosting_slide_img img {
		width: 35%;
	}
	/* Em-Creative Header */
	.creative_header_curve {
		display: none;
	}
	.creative_header_logo {
		padding-right: 0;
		text-align: center;
	}
	.em_creative_header {
		background: transparent none repeat scroll 0 0;
		z-index: 999;
	}
	.single_header_address {
		padding: 27px 0 20px;
	}
	.creative_header_button {
		background: #f9f9f9 none repeat scroll 0 0;
		padding: 30px 0;
		position: relative;
		text-align: center;
	}
	.creative_header_logo {
		display: none;
	}
	.banner-content h1 {
		font-size: 50px;
	}
	.banner-content h2 {
		color: #fff;
		font-size: 43px;
	}
	.creative_header_button::before,
	.em_creative_header::before,
	.em_creative_header::after {
		display: none;
	}
	.single_header_address.ctrp {
		padding-bottom: 50px;
	}
	.em_creative_header {
		padding-bottom: 0;
	}
	.mean-container .mean-bar::before {
		top: 15px;
	}
	.em-nivo-slider-wrapper .nivo-directionNav {
		display: none;
	}
	.em-feature {
		margin-bottom: 30px;
	}
	.em-feature:hover {
		margin-top: 0;
	}
	.single_brand_inner {
		margin-bottom: 30px;
	}
	.team-wrap {
		margin-bottom: 30px;
	}
	.section-title.t_center.port p {
		width: 100%;
	}
	.single_counter {
		margin-bottom: 30px;
	}
	.single_brand_inner {
		margin-bottom: 50px;
	}
	.single_brand_thumb {
		text-align: center;
	}
	.sbi_photo_wrap {
		width: 26%;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.title_in_area {
		width: 100%;
	}
	.em-call-to_video {
		display: none;
	}
	.title_in_area.team p {
		width: 53%;
	}
	.title_ptx p {
		padding-top: 2px;
	}
	.em-team-content-image img {
		width: 100%;
	}
	.title_in::before,
	.title_in::after {
		display: none;
	}
	.curosel-style .owl-nav div {
		left: 15px;
	}
	.curosel-style .owl-nav .owl-next {
		left: auto;
		right: 15px;
	}
	.feature_area {
		padding: 82px 0 72px;
	}
	.title_tx h2 {
		font-size: 30px;
	}
	.em-team {
		margin-bottom: 30px;
	}
	.recent-post-text {
		padding-top: 12px;
	}
	.feature_area1 {
		padding: 0 0 70px;
	}
	.team_area4 {
		padding: 100px 0 70px;
	}
	.footer-middle {
		padding: 66px 0 87px;
	}
	.panel-group {
		margin-top: 30px;
	}
	.sbi_photo_wrap {
		width: 33.333%;
		margin-bottom: 0px;
		margin-right: 0px;
	}
	.comment_field .input-field {
		width: 100%;
		float: none;
	}
	.logo {
		text-align: center;
		margin-bottom: 33px;
	}
	.header-creative-address::before {
		display: none;
	}
	.header-creative-address {
		text-align: center;
	}
	.header-creative-icon i {
		float: none;
		margin-left: 0;
		margin-top: 0;
		text-align: center;
		margin-bottom: 15px;
	}
	.em-nivo-slider-wrapper .nivo-controlNav {
		bottom: 15px;
	}
	.section_title_lefts h1 {
		margin-bottom: 30px;
		font-size: 24px;
	}
	.consultant_about {
		padding: 0 0 0 0px;
	}
	.section_title_lefts.about_subtitle h2 {
		margin-bottom: 5px;
	}
	.consultant-tab li {
		margin: 10px 30px 30px 3px;
	}
	.vsion_thumb img {
		margin-top: 0;
		margin-bottom: 40px;
	}
	.em_single_testimonial {
		padding: 31px 15px 0;
		margin-top: 53px;
		text-align: center;
	}
	.em_single_testimonial::before {
		left: 0;
		top: -65px;
		color: #fff;
		right: 0;
	}
	.em_test_thumb img {
		border-radius: 100%;
		float: none;
	}
	.testimonial_list .owl-dots {
		display: none;
	}
	.em_contact_form {
		margin-bottom: 0;
	}
	.contact_bnt {
		margin-bottom: 50px;
	}
	.contact_info {
		margin-bottom: 50px;
	}
	.company_info {
		padding-top: 50px;
	}
	.em_call-to-action_desc {
		width: 82%;
	}
	.em_call-to-action_title h2 {
		font-size: 35px;
	}
	.slider_text>h1,
	.slider_text>h2 {
		font-size: 40px;
	}
	.slider_text>p {
		width: 96%;
		font-size: 14px;
	}
	.service-thumb {
		padding-bottom: 40px;
		text-align: center;
	}
	.top-right-menu ul.social-icons li {
		margin-left: 8px;
	}
	.em_slider_inner {
		top: 50%;
	}
	.subscribe_form {
		margin-top: 0;
	}
	.em_slider_single_img {
		right: 44%;
		top: -3%;
	}
	.em_slider_single_img img {
		width: 340px;
	}
	.em-slider-title {
		display: none;
	}
	.domain_price p {
		margin: 4px;
	}
	.feature_inner_box {
		padding: 0 0 0;
	}
	.em-service-title h2 {
		font-size: 19px;
	}
	.about_area.about-left-img {
		padding: 23px 0 85px;
	}
	.section-title h2 {
		font-size: 32px;
	}
	.testimonial_area {
		padding-bottom: 70px;
		;
	}
	.consultant-blog-meta-left a,
	.consultant-blog-meta-right a,
	.consultant-blog-meta-left span,
	.consultant-blog-meta-right span {
		margin-right: 5px;
		font-size: 14px;
	}
	.blog-page-title h2 a {
		font-size: 19px;
	}
	.top-address p a,
	.top-right-menu ul.social-icons li a,
	.top-address p span {
		font-size: 14px;
		margin-right: 3px;
	}
	.consultant-header-top {
		display: none;
	}
	.em-progress {
		text-align: right;
		overflow: hidden;
	}
	.domain_search_style2 .domain_price p {
		border: 0;
	}
	.domain_search_style2 .domain_price p:first-child {
		border-left: 0;
	}
	.table_head td {
		padding: 15px 14px;
	}
	.purchace_button {
		padding: 4px 11px;
		font-size: 12px;
	}
	.about_button img {
		float: right;
		position: relative;
		left: 18px;
		top: -45px;
	}
	span.cdowns {
		margin: 20px 32px;
	}
	span.cdowns::before {
		display: none;
	}
	span.cdowns::after {
		display: none;
	}
	.em_progress_content {
		text-align: center;
		width: 65%;
		margin-left: 110px;
		padding-top: 15px;
	}
	.consultant_event_thumb {
		width: inherit;
		float: inherit;
	}
	.single_feature_area {
		margin-top: 0;
	}
	.feature_area_style2.feature_area {
		padding-top: 100px;
	}
	.event_details span.cdowns {
		margin: 8px 8px;
	}
	.em-slider-sub-em-title {
		padding-bottom: 225px;
		font-size: 20px;
	}
	.em-slider-up-title {
		font-size: 30px;
	}
	.feature_area {
		margin-top: 0;
	}
	.row.counter_main {
		margin-top: 0;
		padding: 72px 0 68px;
	}
	.single_counter::before {
		display: none;
	}
	.portfolio_nav ul li {
		margin: 0px 3px;
	}
	.request_form {
		padding-bottom: 60px;
	}
	.request_form_title h1 {
		font-size: 25px;
	}
	.single_testimonial::before {
		left: 20.5%;
		bottom: 200px;
	}
	.call-do-mobile,
	.call-do-email {
		display: block;
		float: none;
		font-size: 18px;
	}
	.style-two .request_form {
		padding: 50px 25px 25px;
	}
	.about_area_style_two .about_content {
		padding-top: 0;
	}
	.about_content h2 {
		font-size: 29px;
	}
	.call-do-action-left h2 {
		font-size: 19px;
	}
	.black_edition .call-do-action-image {
		text-align: left;
	}
	.call-do-action-signature {
		padding: 25px 0 50px;
	}
}


/* -------------------------------------------------
  Small Mobile : 320
---------------------------------------------------*/

@media (max-width: 767px) {
	.single_service_content1 h2 {
		font-size: 17px;
	}
	.consultant-tab li a {
		padding: 11px 28px;
	}
	.panel-heading1.active a {
		font-size: 14px;
	}
	.single_plases {
		margin-bottom: 42px;
	}
	.contact_bnt {
		margin-bottom: 50px;
	}
	.counter_bnt a {
		padding: 8px 30px;
	}
	.contact_info {
		margin-bottom: 50px;
	}
	.em-slider-title {
		font-size: 13px;
		margin-bottom: 16px;
	}
	.em-slider-sub-title {
		font-size: 26px;
	}
	.em-button-button-area a {
		margin-top: 12px;
		padding: 7px 24px;
	}
	.text-left .em-slider-descript {
		margin: auto;
		width: 94%;
		font-size: 14px;
		margin-top: 0;
	}
	.em-slider-button {
		display: none;
	}
	.em-nivo-slider-wrapper .nivo-controlNav {
		display: none;
	}
	/* top bar */
	.top-address {
		text-align: center;
	}
	.social-icons.text-right {
		text-align: center;
	}
	/* footer bar */
	.footer-top-inner p {
		width: 100%;
	}
	.footer-menu ul {
		margin: 10px 0 0;
		text-align: center;
	}
	.footer-menu ul li a {
		font-size: 14px;
	}
	.copy-right-text p {
		text-align: center;
	}
	.banner-content h1 {
		font-size: 45px;
	}
	.banner-content h2 {
		font-size: 23px;
	}
	.banner-content p {
		width: 72%;
	}
	.footer-social-icon a i {
		font-size: 16px;
		height: 35px;
		line-height: 35px;
		width: 35px;
	}
	.banner-content h1 {
		font-size: 28px;
	}
	.banner-content h2 {
		font-size: 16px;
	}
	.banner-content p {
		width: 98%;
	}
	/* Em-Creative Header */
	.creative_header_curve {
		display: none;
	}
	.creative_header_logo {
		padding-right: 0;
		text-align: center;
	}
	.em_creative_header {
		background: transparent none repeat scroll 0 0;
		z-index: 999;
	}
	.single_header_address {
		padding: 10px 71px 10px 0;
		text-align: center;
	}
	.creative_header_button {
		background: #f9f9f9 none repeat scroll 0 0;
		padding: 30px 0;
		position: relative;
		text-align: center;
	}
	.creative_header_icon {
		float: none;
		margin-bottom: 10px;
		margin-right: 0;
		overflow: hidden;
	}
	.creative_header_address .col-sm-4.col-xs-12 {
		padding-left: 0;
	}
	.creative_header_logo {
		display: none;
	}
	.creative_header_button::before,
	.em_creative_header::before,
	.em_creative_header::after {
		display: none;
	}
	.single_header_address.ctrp {
		padding-bottom: 40px;
	}
	.mean-container .mean-bar::before {
		text-transform: uppercase;
		top: 15px;
	}
	.footer-middle {
		padding: 63px 0 76px;
	}
	.em_slider_inner.text-left,
	.em_slider_inner.text-right {
		text-align: center !important;
	}
	ul.page-numbers {
		margin-bottom: 15px;
	}
	.section-title h2 {
		font-size: 27px;
	}
	.section-title.t_center {
		width: 100%;
	}
	.portfolio_content_inner h3 {
		font-size: 17px;
	}
	.em-team {
		margin-bottom: 30px;
	}
	.testimonial_area {
		padding: 95px 0 70px;
	}
	.single_counter {
		margin-bottom: 30px;
	}
	.counter_area {
		padding-bottom: 70px;
	}
	.title_in::before {
		background: none;
	}
	.title_in::after {
		background: none;
	}
	.title_tx h2 {
		font-size: 20px;
	}
	.section-title.t_center.port p {
		width: 100%;
	}
	.portfolio_menu ul li {
		padding: 6px 25px;
	}
	.title_in_area1 p {
		width: 100%;
	}
	.single-video img {
		background-size: cover;
		height: 200px;
	}
	.single-video h3 {
		font-size: 17px;
		padding-top: 24px;
	}
	.video-icon a {
		margin-bottom: -10px;
	}
	.video-icon a i {
		border: 3px solid #fff;
		width: 70px;
		height: 70px;
		line-height: 63px;
		font-size: 30px;
	}
	.brand_area {
		padding: 100px 0 70px;
	}
	.single_brand_thumb {
		margin-bottom: 30px;
		text-align: center;
	}
	.title_tx h5 {
		font-size: 16px;
	}
	.title_in_area {
		width: 100%;
	}
	.title_in_area.team p {
		width: 100%;
	}
	.section_title_lefts h1 {
		font-size: 30px;
	}
	.about_singnature img {
		margin-bottom: 30px;
	}
	.call-to-action_area {
		padding-bottom: 120px;
	}
	.single-video h3 {
		font-size: 17px;
	}
	.title_ptx p {
		width: 100%;
	}
	.em_call-to-action_title h2 {
		font-size: 18px;
	}
	.call-do-action-image {
		text-align: left;
	}
	.em_call-to-action_title h2 span {
		font-size: 24px;
	}
	.em_call-to-action_desc {
		width: 100%;
	}
	.em-call-to_video {
		display: none;
	}
	.em_single_testimonial {
		padding: 47px 8px 144px 10px;
	}
	.section-title1 h2 {
		font-size: 20px;
	}
	.feature_inner_box {
		margin-bottom: 30px;
	}
	.feature_area_style2.feature_area {
		padding-top: 100px;
	}
	.contact_area {
		padding: 80px 0 100px;
	}
	.form_field_inner {
		width: 100%;
	}
	.curosel-style .owl-nav div {
		left: 15px;
	}
	.curosel-style .owl-nav .owl-next {
		left: auto;
		right: 15px;
	}
	.consultant-single-icon-inner a {
		margin: 0 2px;
	}
	.comment_field .input-field label,
	.comment_field .textarea-field label {
		font-size: 13px;
	}
	.footer-middle {
		padding: 65px 0 100px;
	}
	.recent-post-text h4 a {
		font-size: 15px;
	}
	.em-nivo-slider-wrapper .nivo-directionNav .nivo-prevNav,
	.em-nivo-slider-wrapper .nivo-directionNav .nivo-nextNav {
		display: none;
	}
	.owl-carousel .owl-dot,
	.owl-carousel .owl-nav .owl-next,
	.owl-carousel .owl-nav .owl-prev {
		display: none;
	}
	.team-front {
		margin-bottom: 30px;
	}
	.team_area {
		padding: 0px 0 70px;
	}
	.panel-group {
		margin-top: 30px;
	}
	.panel-heading1 a {
		font-size: 14px;
	}
	.count_down_area {
		padding: 85px 0 93px;
	}
	.contact_area {
		padding: 82px 0 100px;
	}
	.recent-post-text {
		margin-top: 11px;
		overflow: hidden;
	}
	.single_image {
		text-align: center;
	}
	.consultant-single-blog-title h2 {
		font-size: 20px;
	}
	.consultant-blog-meta-left a,
	.consultant-blog-meta-left span {
		font-size: 12px;
	}
	.single-blog-content h1 {
		font-size: 25px;
	}
	.single-blog-content h2 {
		font-size: 24px;
	}
	.comment_field .input-field {
		width: 100%;
		float: none;
	}
	.sidebar-right.content-widget.pdsr {
		padding-top: 60px;
	}
	.header-creative-area {
		display: none;
	}
	.consultant_about {
		padding: 41px 0 28px;
	}
	.consultant-tab li {
		display: block !important;
		float: none;
	}
	.event_page_title h2 a {
		font-size: 19px;
	}
	.testimonial_list .owl-dots {
		display: none;
	}
	.em_contact_form {
		margin-bottom: 0;
	}
	.about-pages .consultant_about {
		padding: 0 31px 50px 0;
	}
	.comments_thumb {
		float: none;
		margin-bottom: 20px;
	}
	.blog_comments_section .post_meta span {
		padding-right: 12px;
	}
	.commentst_meta_reply i {
		display: none;
	}
	.single_commentst_inner {
		padding-left: 0;
	}
	.recent-post-text {
		margin-top: 4px;
		overflow: hidden;
	}
	.blog-grid .recent-post-text>h4 {
		margin-top: 0;
	}
	.blog_area.blog-grid {
		padding: 40px 0 72px;
	}
	.event_details span.cdowns {
		margin: 5px 8px;
	}
	.shedule_description ul li span {
		float: none;
	}
	.slider_text>h1 {
		font-size: 23px;
		margin-bottom: 15px;
	}
	.slider_text>h2 {
		font-size: 23px;
	}
	.slider_text>p {
		width: 96%;
		font-size: 14px;
	}
	.sreadmore {
		font-size: 12px;
		padding: 6px 22px;
		margin: 0 2px 0;
	}
	.service-thumb {
		padding-bottom: 40px;
		text-align: center;
	}
	.em_slider_inner {
		top: 50%;
	}
	.subscribe_form {
		margin-top: 0;
	}
	.em_slider_single_img {
		right: 44%;
		top: -3%;
	}
	.em_slider_single_img img {
		display: none;
	}
	.hosting_feature {
		display: none;
	}
	.container {
		width: 325px;
	}
	.domain_price p {
		margin: 4px;
	}
	.subscribe_form_field {
		width: 100%;
	}
	#domain_select {
		width: 19%;
		right: 31%;
		font-size: 12px;
		padding: 0;
	}
	.subscribe_form_field button {
		right: 0%;
		width: 31%;
	}
	.domain_price p {
		margin: 4px;
		padding: 2px 0 5px;
		border: 0;
	}
	.about_button a {
		padding: 13px 20px 13px 20px;
	}
	.about_area.about-left-img {
		padding: 81px 0 85px;
	}
	.about-left-img .consultant_about {
		padding: 0px 0px 0 0px;
	}
	.about-left-img .about_button {
		margin-bottom: 25px;
	}
	.single_hosting_content h2 {
		font-size: 20px;
	}
	.single_hosting_content h1 {
		font-size: 24px;
	}
	.hosting_slide_img img {
		display: none;
	}
	.hosting_details_area {
		padding: 82px 0 100px;
	}
	.choose_us_area {
		padding: 75px 0;
	}
	.single_hosting_details {
		text-align: center;
	}
	.single_hosting_content p {
		width: 100%;
		margin: auto;
	}
	.subscribe_title h2 {
		font-size: 21px;
	}
	.pricing_title h3 {
		font-size: 18px;
	}
	.domain_search_style2 .subscribe_form_field button {
		width: 31%;
		border: 1px solid #03165B;
		background: #03165B;
	}
	.domain_search_style2 {
		width: 100%;
		margin: auto;
	}
	.domain_search_style2 .domain_price p {
		border: 0;
	}
	.domain_search_style2 .domain_price p:first-child {
		border-left: 0;
	}
	.domain_search_style2 .subscribe_form_inner {
		background: inherit;
		padding: 0;
		border-radius: 5px;
	}
	.slider_content {
		height: 770px;
		padding-top: 46%;
	}
	.single_image {
		margin-top: 0;
	}
	.vsion_thumb {
		margin-bottom: 40px;
	}
	.domain_details_area {
		display: none;
	}
	.accoarding_area {
		background: transparent;
	}
	.team_thumb img {
		width: 100%;
	}
	.about_button img {
		float: right;
		position: relative;
		left: 0px;
		top: -17px;
		width: 41%;
	}
	span.cdowns {
		margin: 20px 32px;
	}
	span.cdowns::before {
		display: none;
	}
	span.cdowns::after {
		display: none;
	}
	.em_progress_content {
		text-align: center;
		width: 90%;
		margin-left: 22px;
		padding-top: 15px;
	}
	.consultant-tab li i {
		padding-top: 10px;
	}
	.consultant_event_thumb {
		width: inherit;
		float: inherit;
	}
	.about_area {
		padding: 94px 0 84px;
	}
	.single_footer_contact {
		border-right: 0;
	}
	.single_feature_area {
		margin-top: 0;
	}
	.em-slider-sub-em-title {
		display: none;
	}
	.em-slider-up-title {
		/* display: none; */
		font-size: 22px;
	}
	.feature_top_btn {
		display: none;
	}
	.feature_area {
		margin-top: -145px;
	}
	.video_content h2 {
		font-size: 25px;
		padding-top: 125px;
	}
	.feature_area {
		margin-top: 0;
	}
	.row.counter_main {
		margin-top: 0;
		padding: 72px 0 68px;
	}
	.single_counter::before {
		display: none;
	}
	.single_brand {
		text-align: center;
	}
	.portfolio_nav ul li {
		font-size: 13px;
		letter-spacing: 1px;
		padding: 3px 9px;
		margin: 0px 2px 12px;
	}
	.request_form {
		padding-bottom: 60px;
	}
	.em_testi_text p {
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	.em_test_thumb {
		float: none;
		margin: 26px auto 0;
	}
	.em_testi_title {
		margin-left: 0;
		text-align: center;
	}
	.em_testi_title h2 {
		text-align: center;
	}
	.em_testi_content {
		float: none;
	}
	.single_testimonial::before {
		left: 0;
		top: -19px;
		right: 0;
		bottom: inherit;
	}
	.company_info {
		padding-top: 50px;
	}
	.company_info_content h5 {
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 5px;
		margin: 0;
	}
	.call-do-mobile,
	.call-do-email {
		display: block;
		float: none;
		font-size: 18px;
	}
	.call-do-action-left {
		text-align: center;
	}
	.call-do-action-right {
		text-align: center;
		padding-top: 36px;
	}
	.call-do-action-signature {
		padding: 25px 0 50px;
	}
}


/* -------------------------------------------------
  Large Mobile :480px. 
---------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.em-slider-button {
		display: block;
	}
	.em-nivo-slider-wrapper .nivo-directionNav {
		display: block;
	}
	.sbi_photo_wrap img {
		width: 100%;
	}
	.sbi_photo_wrap {
		float: left;
		width: 33.33%;
	}
	.footer-middle {
		padding: 66px 0 100px;
	}
	.em-team-content-image img {
		width: 100%;
	}
	.container {
		width: 481px;
	}
	.domain_price p {
		margin: 4px;
		padding: 2px 0 5px;
		border: 0;
	}
	.hosting_details_area {
		padding: 82px 0 100px;
	}
	.domain_details_area {
		display: none;
	}
	.accoarding_area {
		background: transparent;
	}
	.team_thumb img {
		width: 100%;
	}
}

